*.class
model.*
predictions.*
._*

# Package Files #
*.war
*.ear
__MACOSX

*/META-INF/*
*.MF
.*.swp
.DS_Store
*.MF

code/bin/*
*.out.bmp
*.out.nonlocal.bmp

# Latex files #
*.aux
*.log
*.out
*.synctex\.gz
